/*---
RESET
---*/
*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
body { font-family: "Open Sans", sans-serif; font-size: inherit; }

input, select, iframe, button { border: none; font-family: "Open Sans", sans-serif; }
h1, h2, h3 { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { text-decoration: none; color: inherit; transition: all .2s ease-in-out; }
a:hover { color: #f9014f; transition: all .2s ease-in-out; }
img { max-width: 100%; border: none; }


/*---
GENERAL
---*/
.section {
  float: left;
  width: 100%;
}

.section:not(:first-of-type) { /* Ajuste de espaçamento sem quebrar o search-box */
  padding-top: 80px;
}

.section-header {
  margin-bottom: 60px;
  text-align: center;
  font-size: 20px;
}

.section-header h1 {
  font-size: 38px;
  font-weight: normal;
  text-transform: uppercase;
}

.content {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.row {
  float: left;
  width: 100%;
}

/* loadmore */
.loadmore {
  background: none;
  border: 1px solid #ccc;
  padding: 10px 35px;
  margin-top: 30px;
  font-size: 17px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.loadmore:hover {
  color: #f9014d;
  border: 1px solid #f9014d;
}

/*---
HEADER
---*/
.box {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.box-name {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  background: #f9014d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.box-cover {
  /* hack para corrigir border-radius inferior da imagem */
  font-size: 0;
  line-height: 1em;
}

.box-cover img {
  width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); /* Escalando tamanho da img para fazer efeito no hover */
  -webkit-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out; /* Adicionando efeito de transição */
}

.box-details {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 15px;
  color: #fff;
  font-size: 15px;
}

.box-details:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -20px; /* Aumentando área do gradient */
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8; /* Definindo 80% de opacidade */
  visibility: hidden;
  background: linear-gradient(to bottom, transparent, #000); /* Definindo padrão da sombra */

  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; /* Adicionando efeito de transição */
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); /* Empurrando sombra inicialmente para baixo */
}

.box-details-info {
  position: relative;
  z-index: 2; /* Sobrepondo conteúdo à sombra */
  opacity: 0;
  visibility: hidden; /* Escondendo detalhes */

  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; /* Adicionando efeito de transição */
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); /* Empurrando detalhe inicialmente para baixo */
}

.box-details-info h1 {
  font-size: 20px;
}

/* box:hover */
.box:hover .box-cover img {
  -webkit-transform: scale(1);
  transform: scale(1); /* Atribuindo tamanho original da img no hover */
}

.box:hover .box-details:before,
.box:hover .box-details-info {
  opacity: 1;
  visibility: visible; /* Tornando detalhes e sombra visiveis no hover */
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); /* Empurrando detalhes e sombra para cima */
}


/*---
HEADER
---*/
.header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  z-index: 6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .logo img {
  max-width: 150px;
}
 
.header.fixed {
  background: #2c3e50;
  padding: 10px 0 5px 0; 
}

/*---
SEARCH
---*/
.search-box {
  text-align: center;
  color: #fff;
  padding: 100px 0;
  background-image: url("../images/bg-search.jpg");
}

.search-box h1 {
  font-size: 37px;
  font-weight: bold;
}

.search-box .tagline {
  font-size: 26px;
}

.search-box form {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 500px;
  margin-top: 50px;
}

.search-box form input[type="search"] {
  width: 100%;
  height: 50px;
  font-size: inherit;
  color: #2c3e50;
  padding: 0 70px 0 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.search-box form button {
  background-color: #a70606;
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/*---
STATISTICS
---*/
.statistics {
  background: #fff;
  max-width: 960px;
  width: 90%;
  padding: 30px 0;
  margin: -40px auto 0 auto;
  text-align: center;

  display: -webkit-flex;
  display: flex;
  align-items: center;

  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.statistics-item span {
  font-size: 33px;
  font-weight: bold;
}

.statistics-item p {
  font-size: 20px;
}


/*---
DESTINATIONS
---*/
.destination-col {
  margin-bottom: 20px;
}


/*---
PARALLAX
---*/
.parallax {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 23px;
  padding: 120px 0;
  margin-top: 80px;
  background-image: url("../images/bg-paralax.jpg");
}

.parallax h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.parallax button {
  background: #f9014d;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 10px 35px;
  margin-top: 60px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.parallax button:hover {
  background: #e92863;
}


/*---
HIGHLIGHTS
---*/
.highlights-col {
  margin-bottom: 20px;
}


/*---
TESTIMONIALS
---*/
.testimonials {
  padding: 100px 0;
  margin-top: 60px;
  background-image: url(../images/bg-testemunhas.jpg);
}

.testimonials-article {
  float: left; /* Defininfo float para que a imagem fique dentro do article */
  background: rgba(255, 255, 255, .7);
  width: 100%;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.testimonials-article h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  border-left: 8px solid #ccc;
  padding-left: 12px;
}

.testimonials-article .image {
  overflow: hidden;
  float: left; /* Definindo float para pegar o border-radius */
  margin-right: 10px;
  width: 83px;
  height: 83px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.testimonials-article p {
  display: flex;
  flex-direction: column; /* Empilhando os itens */
  justify-content: center; /* Centralizando o texto em relação a imagem */
  height: 83px;
}

.testimonials-article .name {
  color: #f9014d;
  font-weight: bold;
}


/*---
FOOTER
---*/
.footer {
  float: left;
  background: #181818;
  width: 100%;
  color: #fff;
  padding: 100px 0 30px 0;
}

.footer-col {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.footer-col h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-col-links li {
  padding: 10px 0;
}

.footer-col-links li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.footer-col-social li {
  padding: 10px 0;
}

.footer-col-social li .fab {
  font-size: 20px;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  width: 30px; /* Alinhando textos */
  text-align: center; /* Alinhando icones */
}

/* footer-copyrights */
.footer-copyrights {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
  color: #ccc;
}


/*---
MAX BREAKPOINTS
---*/
@media (max-width: 767.9px) {
  /* menu */
  .nav-toggle {
    color: #fff;
    font-size: 22px;
    margin-top: 8px;
  }

  .nav-close {
    font-size: 22px;
  }

  .header .nav.active {
    right: 0;
  }
    
  .header .nav {
    background: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    padding: 15px;
    right: -100%;
    top: 0;
    z-index: 10;
    -webkit-transition: all .1s ease-in-out;
    transition: right 1s ease-in-out;
  }

  .header .nav.active {
    right: 0;
  }

  .header .nav ul li {
    padding: 15px 5px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }

  /* statistics */
  .statistics {
    flex-direction: column;
  }

  .statistics-item {
    min-width: 90%;
  }

  .statistics-item:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
}


/*---
MIN BREAKPOINTS
---*/
@media (min-width: 768px) {
  /* menu */
  .nav-toggle, .nav-close {
    display: none;
  }

  .header .nav {
    float: right;
    margin-top: 13px;
  }

  .header .nav ul li {
    display: inline-block;
    margin-left: 20px;
  }

  .header .nav ul li a {
    color: #fff;
  }

  .header .nav ul li a:hover {
    color: #f9014d;
  }

  /* search */
  .search-box {
    padding: 200px 0;
  }

  /* statistics */
  .statistics {
    margin-top: -65px;
  }

  .statistics-item {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .statistics-item:not(:last-of-type) {
    border-right: 1px solid #ccc;
  }

  /* destination */
  .destination-col {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
  }

  .destination-col:nth-child(odd) {
    margin-right: 0; /* Zerando margens dos elementos nas posições impares */
  }

  .destination-col:first-child {
    width: 100%; /* Definindo que o primeiro elemento ocupara 100% da largura */
  }

  /* highlights */
  .highlights-col {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
  }

  .highlights-col:nth-child(even) {
    margin-right: 0;
  }

  /* testimonials */
  .testimonials-article {
    width: calc((100% - 8%) / 3);
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .testimonials-article:last-of-type {
    margin-right: 0; /* Zerando margem do terceito elemento para viabilizar o calc */
  }

  /* footer */
  .footer-col {
    width: 40%;
  }

  .footer-col:nth-child(2) { /* Trabalhando na coluna de links úteis */
    width: 30%;
    margin-left: 5%;
  }

  .footer-col:nth-child(3) { /* Trabalhando na coluna de social */
    width:20%;
    float: right;
  }
}


@media (min-width: 900px) {
  .destination-col:nth-child(odd), /* Redefinindo configurações */
  .destination-col {
    width: 32%; /* Definindo largura das 3 colunas, descontando a margem entre elas */
    margin-right: 2%;
  }

  .destination-col:nth-of-type(3n+2) {
    margin-right: 0; /* Zerando a margem direita do terceiro elemento, contando a partir do segundo elemento */
  }

  .destination-col:first-child {
    width: 66%; /* Definindo largura customizada do primeiro elemento */
  }

  /* footer */
  .footer-col {
    width: 45%;
  }

  .footer-col:nth-child(2) { /* Trabalhando na coluna de links úteis */
    width: 25%;
    margin-left: 5%;
  }

  .footer-col:nth-child(3) { /* Trabalhando na coluna de social */
    width:20%;
    float: right;
  }
}

/*---
HELPERS
---*/
/* bg-fixed */
.bg-fixed {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Definindo a imagem parallax */
  background-repeat: no-repeat;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.fl-left { float: left; }
.fl-right { float: right; }